body {
    display: flex;
    flex-direction: column; 
    background-image: url('images/background.jpg');
    margin: 0;  
    font-family: 'Roboto Mono', monospace;
}

.flash-msg-container {
  text-align: center;
}


.flash-msg {
    color: white;
    font-size: 50px;
}

.score-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.computer-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.score-number-box {
    font-size: 80px;
}

.choices-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn{
    margin: 0px 10px;
    font-size: 18px;
    padding: 15px 15px;
    width: 100px;

}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    height:120px
}

.restart-btn-container {
    display: flex;
    justify-content: center;
}

.restart-btn {
    margin-top: 15px;
    font-size: 18px;
    padding: 15px 15px;
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: center;
}

.desktop-image {
    display: block;
}

@media (max-width: 767px) {
    .flash-msg {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .flash-msg-container {
        height: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .desktop-image {
        display: none
    }
}